/** {
  border: 1px solid red;
}*/

img.table{
  position:absolute;
  z-index:-1;
}

img.card{
  width:100px;
  height:150px;
}

.double-down{
  transform: rotate(270deg);
}

div.messages{
  text-align:center;
}