/** {
  border: 1px solid red;
}*/

img.table{
  position:absolute;
  z-index:-1;
}

div.player-card-slot{
  width:120px;
  height:170px;
  position:fixed;
}

div.dealer-card-slot{
  width:120px;
  height:170px;
  position:fixed;
}

div#player-slot-1{
  left:325px;
  top:415px;
}

div#player-slot-2{
  left:375px;
  top:415px;
}

div#player-slot-3{
  left:425px;
  top:415px;
}

div#player-slot-4{
  left:475px;
  top:415px;
}
div#player-slot-5{
  left:525px;
  top:415px;
}

div#dealer-slot-1{
  left:325px;
  top:75px;
}

div#dealer-slot-2{
  left:375px;
  top:75px;
}

div#dealer-slot-3{
  left:425px;
  top:75px;
}

div#dealer-slot-4{
  left:475px;
  top:75px;
}
div#dealer-slot-5{
  left:525px;
  top:75px;
}

img.card{
  width:120px;
  height:170px;
}

div.messages{
  text-align:center;
}