/** {
  border: 1px solid red;
}*/

body{
  position:fixed;
}

.btn{
  width:75px;
  height:40px;
}

img.table{
  z-index:-1;
}

img.card{
  width:100px;
  height:150px;
}

div.playerInfo{
  position: fixed;
  left:50px;
  top:50px;
  color:#FFCC00;
  font-family:Arial;
  font-weight:bold;
}

div.prompts{
  position:fixed;
  top:500px;
  left:390px;
}

.double-down{
  transform: rotate(270deg);
}

div.messages{
  text-align:center;
  position: fixed;
  top: 250px;
  left: 310px;
  color:yellow;
  font-family:Arial;
  font-weight:bold;
}

div.controls{
  position:fixed;
  top:500px;
  left:585px;
}

form#betControls{
  top:480px;
  left: 275px;
  position: fixed;
}

.input-hidden{
  position: absolute;
  left: -9999px;
}


.chips{
  position:fixed;
  text-align:center;
  top:475px;
  left:180px;
  width:500px;
}

.chip{
  border: none;
  outline:none;
  margin:10px;
  width:50px;
  height:50px;
}


.chip:hover{
  -webkit-filter: grayscale(0.5) hue-rotate(90deg);
}