/** {
  border: 1px solid red;
}*/
body{
  position:fixed;
}

.btn{
  width:100px;
  height:50px;
}
.chip{
  width:50px;
  height:50px;
  margin:10px;
}

img.table{
  /*position:fixed;*/
  z-index:-1;
}

img.card{
  width:100px;
  height:150px;
}

div.card-slot{
  /*position:fixed;*/
}

.double-down{
  transform: rotate(270deg);
}

div.messages{
  text-align:center;
}

.input-hidden{
  position: absolute;
  left: -9999px;
}

.selected{
  /*background-color:#ccc;*/
  border: 2px solid #ccc;
  border-radius:10px;
}
